<ul>
  <h2>Cooking</h2>
  <li>
    <input type="checkbox"></input>
    <span>Make lasagna</span>
    <strong>2 pomodoros</strong>
  </li>
  <li>
    <input type="checkbox"></input>
    <span>Cook Pernil</span>
    <strong>1 pomodoro</strong>
  </li>
</ul>